<script type="text/javascript">
	
	
	
</script>

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>${i18nMap["admin.user.passChange"]}</h3>
</div>

	<div class="modal-body">
		<form id="passChangeForm" action="${cxt!}/jf/platform/user/passChange" method="POST" role="form" class="form-horizontal">
			<input type="hidden" id="userName" name="userName" value="${cookieMap.userName.value!}">
	
			<div class="form-group">
				<label class="col-sm-2 control-label">${i18nMap["admin.user.passChange.oldPass"]}</label>
				<div class="col-sm-7">
					<input type="password" id="oldPass" name="passOld" class="form-control" autocomplete="off" 
						maxlength="18" vMin='6' vType="letterNumber" onblur="platform_verify.onblurVali(this);">
				</div>
				<span class="help-inline col-sm-2">6-18位字母数字</span>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label">${i18nMap["admin.user.passChange.newPass"]}</label>
				<div class="col-sm-7">
					<input type="password" id="newPass1" name="passNew" class="form-control" autocomplete="off" 
						maxlength="18" vMin='6' vType="letterNumber" onblur="platform_verify.onblurVali(this);">
				</div>
				<span class="help-inline col-sm-2">6-18位字母数字</span>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label">${i18nMap["admin.user.passChange.newPass"]}</label>
				<div class="col-sm-7">
					<input type="password" id="newPass2" class="form-control" 
						maxlength="18" vMin='6' vType="letterNumber" onblur="platform_verify.onblurVali(this);">
					<span class="help-inline"></span>
				</div>
				<span class="help-inline col-sm-2">6-18位字母数字</span>
			</div>
			
		</form>
	</div>
	
	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn">${i18nMap["admin.common.close"]}</button>
		<button type="button" data-dismiss="modal" class="btn btn-primary" id="submit-sure" disabled>${i18nMap["admin.common.determine"]}</button>
	</div>	
	<script>
		var result=0;
		var oldTure=false,
			newTure=false;
	   $('#oldPass').blur(function(){
		    var oldPass = $("#oldPass").val();
		    var userName = $("#userName").val();
			var param = {"passWord" : oldPass,"userName" : userName};
			result = common_ajax.ajaxFunc("/jf/platform/user/valiPassWord", param);
			if(result=='false'){
					alert('旧密码不正确，请重新输入！');
					oldTure=false;
					$('#submit-sure').attr('disabled','disabled');
					
			}else{
				oldTure=true;
				if(oldTure&&newTure){
					   $('#submit-sure').removeAttr('disabled').bind('click',passChange);
				   }else{
					   $('#submit-sure').attr('disabled','disabled').unbind('click',passChange);
				   }
			}
	   });
	   function newPass(){
		   var newPass1 = $("#newPass1").val();
		   var newPass2 = $("#newPass2").val();
		  
		  /*  if(newPass2){ */
			   var errorCount = platform_verify.formVali(document.getElementById("passChangeForm"));
				if(errorCount != 0){
					newTure=false;
					$('#submit-sure').attr('disabled','disabled');
					toastr.warning("有" + errorCount + "处错误，请修正！");
				}else{
					 if(newPass1 != newPass2 && newPass2){
							alert("两次输入密码不一致，请从新输入！");
							$('#submit-sure').attr('disabled','disabled');
							return false;
						}
					newTure=true;
					if(oldTure&&newTure){
						   $('#submit-sure').removeAttr('disabled').bind('click',passChange);
					   }else{
						   $('#submit-sure').attr('disabled','disabled').unbind('click',passChange);
					   }
				}
		   /* } */
	   }
	   $("#newPass2").blur(newPass);
	   $("#newPass1").blur(newPass);
	   
	   function passChange(){
		   
	
			
			common_ajax.ajaxForm("passChangeForm");
		}
		console.log(oldTure + ' '+newTure)
	   
	   
		var x = "${result!}";
		
		if (x != '') {
			alert(x);
		}
	</script>