<style type="text/css">  
	 #preview, .img, .imgg {  width:375px; height:268px;}  
	 #preview { border:1px solid #000; }  
 </style>
 
<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/platform/index/content');">主页</a></li>
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/platform/homeTopPost');">轮播图管理</a></li>
			<li class="active">轮播图更新</li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<!-- start: BORDERED TABLE PANEL -->
		<div class="panel panel-white">
			
			<div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">轮播图更新</span></h4>
				<div class="panel-tools">										
					<% include("/common/panel-tools.html"){} %>
				</div>
			</div>
			<div class="panel-body">
				<form id="editForm" action="${cxt!}/jf/platform/homeTopPost/update" method="POST" role="form" class="form-horizontal" enctype="multipart/form-data">
					<div class="form-group">
						<label class="col-sm-2 control-label">Tid</label>
						<div class="col-sm-7">
							<input type="text" id="tid" name="homeTopPost.tid" readonly="readonly" value="${escapeXml(homeTopPost.tid!)}" 
								class="form-control" maxlength="8" vMin="1" vType="number" onblur="platform_verify.onblurVali(this);">
						</div>
					</div>
															
					<div class="form-group">
						<label class="col-sm-2 control-label">图片地址</label>
						<div class="col-sm-7">
							<input type="text" id="image_url" name="homeTopPost.image_url" readonly="readonly" value="${escapeXml(homeTopPost.image_url!)}" 
								class="form-control" maxlength="80" vMin="2" vType="length" onblur="platform_verify.onblurVali(this);">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label">板块名</label>
						<div class="col-sm-7">
							<input type="text" id="forumName" name="homeTopPost.forumName"  value="${escapeXml(homeTopPost.forumName!)}" 
								class="form-control" maxlength="80" vMin="2" vType="length" onblur="platform_verify.onblurVali(this);">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">标     题</label>
						<div class="col-sm-7">
							<input type="text" id="subject" name="homeTopPost.subject" value="${escapeXml(homeTopPost.subject!)}" 
								class="form-control" maxlength="80" vMin="0" vType="length" onblur="platform_verify.onblurVali(this);">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">内     容</label>
						<div class="col-sm-7">
							<input type="text" id="content" name="homeTopPost.content" value="${escapeXml(homeTopPost.content!)}" class="form-control">
							<!-- <input type="text" id="content" name="homeTopPost.content" value="${escapeXml(homeTopPost.content!)}" maxlength="100" class="form-control"> -->
						</div>
						<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> * 请输入内容 </span>
					</div>

					 
					<div class="form-group">
						<label class="col-sm-2 control-label">上传图片</label>
						<div class="col-sm-3">
							<input type="file" id="image_url2" name="image_url2" onchange="preview(this)" />  
						</div>
						 <i class="fa fa-info-circle"></i>类型为 gif,jpg,jpeg,bmp,png </span>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">图片预览</label>
						 <div class="col-sm-4">
							<div id="preview"></div>
						</div>
					</div>
					

					<script type="text/javascript" src="${cxt!}/jsFile/rapido/platform/forum/form.js"></script>	
					<script type="text/javascript">
						jQuery(document).ready(function() {
							common_form.init();
						});
						/* ************************************ */
						function preview(file) {  
						 var prevDiv = document.getElementById('preview');  
						 if (file.files && file.files[0]) {  
							 var reader = new FileReader();  
							 reader.onload = function(evt){  
							 	prevDiv.innerHTML = '<img class="imgg" src="' + evt.target.result + '" />';  
							}    
							 reader.readAsDataURL(file.files[0]);
						  } else {  
							 	prevDiv.innerHTML = '<div class="img" style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\'' + file.value + '\'"></div>';  
							 }  
						 } 
						/* *************************************** */
					</script>
					
					<div class="form-actions">
						<% if(authUrl("/jf/platform/homeTopPost/save")){ %>
							<button type="button" class="btn btn-red" onclick="platform_forum_form.submitValiFunc(this.form, false);">
								${i18nMap["admin.common.submit"]}	<i class="fa fa-arrow-circle-right"></i>
							</button>
						<% } %>
					
					</div>
				</form>
			</div>
		
		</div>
	</div>
</div>	