<script type="text/javascript">
			var cxt = "${cxt!}";
			var x = "${result!}";
			if (x != null && x != '') { 
				toastr.warning(x);
			}	
				
</script>
<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/platform/found/content');">主页</a></li>
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/platform/foundArticle/${info!}');">发现页板块列表</a></li>
			<li class="active">信息录入</li>
		</ol>
	</div>
</div>
	
<div class="row">
	<div class="col-md-12">
		<!-- start: BORDERED TABLE PANEL -->
		<div class="panel panel-white">
			
			<div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">信息录入</span></h4>
				<div class="panel-tools">
					<% include("/common/panel-tools.html"){} %>
				</div>
			</div>
			
			<div class="panel-body">
				<form id="editForm" action="${cxt!}/jf/platform/foundArticle/saveInvestment" method="POST" role="form" class="form-horizontal">
						
					<div class="form-group">
						<div class="col-sm-5">
							<input type="hidden" id="forum_id" readonly="readonly" name="foundArticle.forum_id" value="${info!}" >
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">投资信息编号</label>
						<div class="col-sm-5">
							<input type="text" id="article_id" name="foundArticle.article_id" value="${escapeXml(foundArticle.article_id!)}" 
								class="form-control" maxlength="8" vMin="1" vType="number" onblur="platform_verify.onblurVali(this);">
						</div>
						<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i>请输入投资信息编号</span>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">显示顺序</label>
						<div class="col-sm-5">
							<input type="text" id="display_order" name="foundArticle.display_order" value="${escapeXml(foundArticle.display_order!)}" 
								class="form-control" maxlength="8" vMin="1" vType="number" onblur="platform_verify.onblurVali(this);">
						</div>
						<span class="help-inline col-sm-4"> <i class="fa fa-info-circle"></i>请输入显示顺序，数字小的显示在前 大的在后 </span>
					</div>
					
					<script type="text/javascript" src="${cxt!}/jsFile/rapido/platform/foundArticle/form.js"></script>

					<script type="text/javascript">
						jQuery(document).ready(function() {
							common_form.init();
						});
					</script>
					
					<div class="form-group">
						<div class="col-sm-2 col-sm-offset-3">
							<% if(authUrl("/jf/platform/foundArticle/saveInvestment")){ %>
									<button type="button" class="btn btn-red" onclick="platform_foundArticle.submitValiFunc(this.form,true);">
									${i18nMap["admin.common.submit"]}	<i class="fa fa-arrow-circle-right"></i>
								</button>
							<% } %>
						</div>
					</div>
				</form>
			</div>
		
		</div>
	</div>
</div>	