 
<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/platform/index/content');">主页</a></li>
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/platform/goodsattribute');">邮件列表</a></li>
			<li class="active">发送邮件</li>
		</ol>
	</div>
</div>
	
<div class="row">
	<div class="col-md-12">
		<!-- start: BORDERED TABLE PANEL -->
		<div class="panel panel-white">
			
			<div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">发送邮件</span></h4>
				<div class="panel-tools">					
					<% include("/common/panel-tools.html"){} %>
				</div>
			</div>
			
			<div class="panel-body">
				<form id="editForm" action="${cxt!}/jf/platform/mailbox/sendmail" method="POST" role="form" class="form-horizontal">
					
				<div class="form-group">
					<label class="col-sm-2 control-label">邮件标题</label>
					<div class="col-sm-5">
						<input type="text" id="subject" min="1" name="subject" value="${escapeXml(subject!)}" 
							class="form-control">
					</div>
					<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i>请输入邮件标题</span>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">邮件内容</label>
					<div class="col-sm-5">
						<input type="text" id="content" name="content" value="${escapeXml(content!)}" 
							class="form-control">
					</div>
					<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i>请输入邮件内容</span>
				</div>
								
				<!-- <div class="form-group">
					<label class="col-sm-2 control-label">邮件发送者的邮箱</label>
					<div class="col-sm-5">
						<input type="text" id="from" name="from" value="${escapeXml(from!)}" 
							class="form-control" maxlength="65535" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
					</div>
					<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i>请输入发送者邮箱</span>
				</div>
								
				<div class="form-group">
					<label class="col-sm-2 control-label">登陆邮件发送服务器的用户名</label>
					<div class="col-sm-5">
						<input type="text" id="userName" name="userName" value="${escapeXml(userName!)}" 
							class="form-control" maxlength="65535" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
					</div>
					<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i>请输入登陆邮件发送服务器的用户名</span>
				</div>
								
				<div class="form-group">
					<label class="col-sm-2 control-label">登陆邮件发送服务器的密码</label>
					<div class="col-sm-5">
						<input type="text" id="password" name="password" value="${escapeXml(password!)}" 
							class="form-control" maxlength="65535" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
					</div>
					<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i>请输入登陆邮件发送服务器的密码</span>
				</div> -->
			
			
		<!-- 		<div class="form-group">
					<label class="col-sm-2 control-label">邮件附件</label>
					<div class="col-sm-5">
					
					</div>
					<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i>请添加邮件附件</span>
				</div> -->
				
				

	<!-- ***************我是一条分割线******************* -->
	
				<script type="text/javascript" src="${cxt!}/jsFile/rapido/platform/mailbox/form.js"></script>	
				
				<script type="text/javascript">
					jQuery(document).ready(function() {
						common_form.init();
					});
				</script>
						
	<!-- ***************************************************** -->
					
					<div class="form-group">
						<div class="col-sm-2 col-sm-offset-3">
							<% if(authUrl("/jf/platform/mailbox/sendmail")){ %>
									<button type="button" class="btn btn-red" onclick="platform_mailbox_form.submitValiFunc(this.form,true);">
									${i18nMap["admin.common.submit"]}	<i class="fa fa-arrow-circle-right"></i>
								</button>
								
							<% } %>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>	