<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/platform/index/content');">主页</a></li>
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/platform/order');">商品订单列表</a></li>
			<li class="active">发货</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<!-- start: BORDERED TABLE PANEL -->
		<div class="panel panel-white">
			
			<div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">发货</span></h4>
				<div class="panel-tools">										
					<% include("/common/panel-tools.html"){} %>
				</div>
			</div>
			
			<div class="panel-body">
				<form id="editForm" action="${cxt!}/jf/platform/order/update" method="POST" role="form" class="form-horizontal">
					<!-- <input type="text" name="order_no" id="order_no"   class="form-control"  value="${escapeXml(order.order_no!)}"/> -->
					
					<!-- 订单号 -->
					<div class="form-group">
						<label class="col-sm-2 control-label">订单号</label>
						<div class="col-sm-4">
							<input type="text" name="order_no" id="order_no" class="form-control" readonly="readonly" value="${escapeXml(order.order_no!)}">
						</div>
					</div>
					<!-- 商品名 -->
					<div class="form-group">
						<label class="col-sm-2 control-label">商品名</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(order.goods_name!)}">
						</div>
					</div>
					<!-- 收货人名字 -->
					<div class="form-group">
						<label class="col-sm-2 control-label">收货人名字</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(order.receive_name!)}">
						</div>
					</div>
					<!-- 收货人手机号 -->
					<div class="form-group">
						<label class="col-sm-2 control-label">收货人手机号</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(order.buyer_mobile!)}">
						</div>
					</div>
					<!-- 收货地址 -->
					<div class="form-group">
						<label class="col-sm-2 control-label">收货地址</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(order.receive_info!)}">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">快递公司</label>
						<div class="col-sm-4">
							<select name="logistics_msg" class="combox1">
							
							</select>
							<!-- <input type="text" id="logistics_msg" name="logistics_msg"
								class="form-control" maxlength="50" vMin="2" vType="text" onblur="platform_verify.onblurVali(this);"> -->
						</div>
						<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i>输入发货快递公司名 </span>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">快递单号</label>
						<div class="col-sm-4">
							<input type="text" id="receive_no" name="receive_no"
								class="form-control" maxlength="60"  vMin="5" vType="number"  onblur="platform_verify.onblurVali(this);">
						</div>
						<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i>输入快递单号 </span>
						
					</div>
					<script type="text/javascript" src="${cxt!}/jsFile/rapido/platform/order/form.js"></script>	
					<script type="text/javascript">
						jQuery(document).ready(function() {
							common_form.init();
						});
						
						$.ajax({
							type:"post",
							url: "/jf/platform/tradeLog/dynamicName", 
							/* url: "/jf/platform/tradeLog/dynamicName", */
							async:true,
							success:function(data){
								var str='';
								for(var i=0;i<data.length;i++){
									str+='<option value="'+ data[i].name +'">'+ data[i].name +'</option>';
								}
								$('.combox1').append(str);
							}
						});
					</script>
					
					<div class="form-actions">
						<% if(authUrl("/jf/platform/order/update")){ %>
							<button type="button" class="btn btn-red" onclick="platform_order_form.submitValiFunc(this.form, false);">
								${i18nMap["admin.common.submit"]}	<i class="fa fa-arrow-circle-right"></i>
							</button>
						<% } %>
					</div>
				</form>
			</div>
		
		</div>
	</div>
</div>	